body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    background-color: #eaeaea;
    color: #333;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    position: relative;
    z-index: 1000;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.menu-container {
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.nav-home-link {
    color: white;
    text-decoration: none;
}

.navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .menu-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar.dark-mode {
    background-color: #333;
}

.navbar.dark-mode .nav-link {
    color: #fff;
}

.navbar.dark-mode .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.navbar .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: auto;
    max-width: calc(100% - 40px);
    background-color: #4caf50;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin-right: 10px;
    animation: slideDown 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar.dark-mode .nav-links.open {
    background-color: #333;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar .nav-links.open .nav-link {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
}

  

.navbar .nav-links.open .menu-dark-mode-toggle {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.content {
    flex: 1;
    padding: 20px;
}

.footer {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-align: center;
}

.footer.dark-mode {
    background-color: #333;
    color: #fff;
}

.app {
    border-radius: 4px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.todo-form.dark-mode {
    background-color: #444;
    color: #fff;
}

.todo-form input,
.todo-form select,
.todo-form .todo-form-button {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.todo-form.dark-mode input,
.todo-form.dark-mode select,
.todo-form.dark-mode {
    background-color: #555;
    color: #fff;
    border-color: #666;
}

.todo-form .todo-form-button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.todo-form .todo-form-button:hover {
    background-color: #37793a;
}

.todo-form.dark-mode .todo-form-button:hover {
    background-color: #2f6c31;
}

.todo-list {
    margin-top: 20px;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.todo-item.completed {
    text-decoration: line-through;
}

.todo-item input[type="checkbox"] {
    margin-right: 8px;
}

.todo-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

.todo-checkbox:checked {
    accent-color: #4caf50;
    border-color: #2f6c31;
}

.todo-label {
    cursor: pointer;
}

.todo-checkbox:checked {
    text-decoration: line-through;
    opacity: 0.6;
}

.todo-text {
    flex: 1;
    margin-left: 8px;
    cursor: pointer;
}

.todo-text.completed {
    opacity: 0.6;
}

.edit-container {
    display: flex;
    align-items: center;
}


.validation-message {
    color: #ff6b6b;
    margin-top: 5px;
    font-size: 12px;
}

.input.search {
    padding-left: 30px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.input {
    width: 100%;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
    outline: none;
    border-color: #2f6c31;
    box-shadow: 0 0 5px rgba(47, 108, 49, 0.5);
}

.input.dark-mode {
    background-color: #555;
    color: #fff;
    border-color: #666;
}

.input.dark-mode:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search-bar {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

select.dark-mode {
    background-color: #444;
    color: #fff;
    border-color: #666;
}

.empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #888;
}

.empty-message {
    font-size: 2em;
    margin-bottom: 16px;
}

.empty-icon {
    font-size: 3em;
    color: #888;
}

.button-container {
    margin-left: auto;
}

button {
    padding: 8px 16px;
    margin-right: 4px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.positive-button {
    background-color: #4caf50;
    color: #fff;
}
.negative-button {
    background-color: #f44336;
    color: #fff;
}

.todo-form-button {
    background-color: #4caf50;
    color: #fff;
}

.negative-button.icon {
    padding: 8px;
}

.todo-form-button.icon {
    padding: 8px;
}

button:hover {
    opacity: 0.8;
}

.negative-button:hover {
    background-color: #9d2921;
}

.todo-form-button:hover {
    background-color: #37793a;
}

.icon-container {
    display: inline-block;
}

.icon-container .fa-icon-edit {
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.icon-container .fa-icon-delete {
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.icon-container .fa-icon-edit:hover {
    color: #4caf50;
}

.icon-container .fa-icon-delete:hover {
    color: #f44336;
}

.dark-mode-toggle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    float: right;
    margin-right: 20px;
    transition: background-color 0.4s, border-color 0.4s;
}

.dark-mode-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border: 1px solid #9b9b9b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s;
    border-radius: 34px;
    transition: background-color 0.4s, border-color 0.4s;
}

.mode-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #F6C90E;
    transition: opacity 0.4s, transform 0.4s;
}

.light-mode-icon {
    color: #f39c12;
    left: 8px;
}

.dark-mode-icon {
    color: #f1c40f;
    right: 8px;
}

.hidden {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s, transform 0.4s;
}

.dark-mode-toggle.dark .slider {
    border: 1px solid #ccc;
    background-color: #333;
}

.dark-mode-toggle.dark .slider:before {
    transform: translateX(24px);
}

.dark-mode-toggle.dark .slider, .dark-mode-toggle.dark .mode-icon {
    transition: background-color 0.4s, border-color 0.4s, transform 0.4s, opacity 0.4s;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-content.dark-mode {
    background-color: #444;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
}



.modal-body {
    margin-bottom: 20px;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.body-dark-mode {
    background-color: #4f4f4f;
    color: #fff;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.home-image-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .home-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover; 
  }
  
  .home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }  
  .home-text {
    text-align: center;
    color: white;
  }
  
  .go-to-todos-button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

  }
  
  .go-to-todos-button:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .dark-mode .go-to-todos-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .dark-mode .go-to-todos-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  


.flag-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 5px; 
    transition: transform 0.3s, opacity 0.3s;
  }
  
.flag-icon:hover {
transform: scale(1.1); 
opacity: 0.8; 
}
  
@media (max-width: 768px) {
.navbar {
    flex-direction: row;
    align-items: center;
}

.navbar .nav-links {
    display: none;
}

.navbar .menu-toggle {
    display: block;
}

.navbar .nav-links.open {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.navbar .nav-link {
    margin: 5px 0;
}

.app {
    padding: 10px;
}

.content {
    padding: 10px;
}

.footer {
    padding: 10px;
}

.todo-item {
    flex-direction: column;
    align-items: flex-start;
}

.todo-text {
    margin-left: 0;
    margin-top: 8px;
}

.input, .select, .todo-form-button {
    width: 100%;
}

.home-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5px;
}

.home-text h1 {
    font-size: 24px;
}

.home-text p {
    font-size: 16px;
}

.go-to-todos-button {
    font-size: 16px;
    padding: 8px 16px;
}
}
